body {
    background-color: #fbf5ff;
}
img {
    width: 300px;
    margin: 20px auto;
    border-radius: 25px;
}
p {
    margin: 5px;
    font-size: 35px;
    text-align: center;
}
h1{
    margin: 10px 0px 0px 0px;
    font-size: 70;
}
#taguser{
    margin: 0px 0px 25px 0px;
    font-size: 35;
}
#moreinfoheading{
    margin: 10px 0px 0px 0px;
    font-size: 30;
}
a {
    color: black;
}
hr {
    border: 2px #b3adb8 dashed;
    border-radius: 3px;
    width: 200px;
}
mark {
    background-color: #e2d8e8;
}
h4 {
    font-size: 40px;
}



#maindiv {
    float: center;
    display: flex;
    width: 900px;
    padding: 100px auto;
    border: 2px #b3adb8 dashed;
    border-radius: 25px;
    margin: 50px auto;
    margin-bottom: 10px;
    background-color: #f8edff;
}
#maindivtext {
    width: 500px;
    text-align: center;
    padding: 20px auto;
    margin: 10px auto;
}
#maindivinfo {
    justify-content: center;
    margin: 10px auto;
}
#middleimgdiv {
    display: flex;
    justify-content: center;
}

#interestsdiv {
    text-align: center;
    width: 900px;
    justify-content: center;
    margin: 20px auto;
    border: 2px #b3adb8 dashed;
    border-radius: 25px;
    padding: 20px auto;
    background-color: #f8edff;
}
#interestsmenu {
    margin: 20px 10px 0px 10px;
    display: flex;
    justify-content: center;
}
.menubuttonA {
    width: 150px;
    padding: 5px 0px;
    background-color: #cac2cf;
    margin: 5px 4px 5px 4px;
    text-align: center;
    align-items:center;
    justify-content:center;
}
.menubuttonB {
    width: 150px;
    padding: 5px 0px;
    background-color: #e2d8e8;
    margin: 5px 4px 5px 4px;
}
.intereststext {
    margin: 20px 50px;
    width: 700px;
    padding: 20px auto;
    
}
#musicbuttontext {
    border: 2px black solid;
}
#musictext {
    margin: 30px auto;
}
#moreinfo {
    width: 700px;
    padding: 20px auto;
    margin: 30px auto;
}
.middleimgclass {
    width: 150px;
    margin: 10px;
}
